asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
cloudinary==1.44.4
Django==6.0.6
django-cloudinary-storage==0.3.0
idna==3.18
pillow==12.2.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
